body {
  margin: 0px;
  padding: 0px;
}

.main-container {
  display: flex;
  align-items:stretch;
  height: 100vh;
}

.menu {
  width: 30%;
  padding: 10px;
  color: whitesmoke;
  background-color: #34495E;
}

.main {
  width: 70%;
  padding: 10px;
}

a {
  text-decoration: none;
  color: whitesmoke;
}